a {
    text-decoration: none;
    color:rgb(52, 60, 165);
}

a:hover {
    text-decoration: none;
    color:coral;
}

body {
    background-color:rgb(250, 248, 244);
    color:black;
    text-align: center;
}

footer{
    margin-top: 2rem;
    margin-bottom: 1rem;
    color:black;
}

h1 {
    color:rgb(177, 5, 5);
}

h2 {
    color:rgb(33, 88, 88);
}

h3{
    color:darkcyan;
}

h4{
    color:rgba(0, 0, 0, 0.856);
}